@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
	color: #fff;

	font-family: "Roboto Condensed", sans-serif;
	background-image: url("./Landscape_Hackathon_1.png");
	background-position: top top;
	background-size: cover;
	margin: 0;
}

.App {
	/* position: fixed; */ /*Removed to allow scrolling - why was it here in the first place?*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.gradient-container {
	background: linear-gradient(0deg, black 0%, black 2%, transparent 100%);
	min-height: 100vh;
	min-width: 100vw;
}

.container {
	width: 100%;
	padding-top: 55px;
}
.col-4 {
	width: 25%;
	float: left;
}

h1 {
	font-size: 38px;
	text-transform: uppercase;
	line-height: 1;
}

.hackathon {
	color: #5CA5C1;
	height: 40px;
	width: 300px;
	font-size: calc(2rem + 0.9vw);
}

.bottomtext {
	font-size: calc(0.8rem + 0.5vw);
}

@media (min-width: 768px) {
	.container {
		width: 1100px;
	}
	h1 {
		font-size: 58px;
	}
}

@keyframes anim-glow {
	0% {
		box-shadow: 0 0 rgba(#61ef61, 1);
	}
	100% {
		box-shadow: 0 0 10px 8px transparent;
		border-width: 2px;
	}
}
